<div class="dialog-content">
    <h1 mat-dialog-title>Enter the verification code</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Verification code</mat-label>
            <input matInput #email>
        </mat-form-field><br>
        <a (click)="getVerificationCode()">Didn't get a code? Click here to resend the verification code</a>
    </div>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="email.value" cdkFocusInitial>Send</button>
    </div>
</div>