.mat-card {
    width: 300px;
    height: 500px;
    text-align: center;
}
.body{

    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}
mat-card-title{
    font-size: 25px;
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;
    /* margin-left: 0; */
}
.mat-card>:first-child{
    justify-content: center;
}
button{
    background-color: #e6f4fa;
    border-radius: 8px;
    border-color: darkgray;
    line-height: 2;
    padding-right: 14px;
    font-weight: 500;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 2px -1px 20px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.comment{
    color: gray;
    font-size: 12px;
}