.title{
    display: inline;
    font-weight: 500;
    font-size: 15px;
}
button{
    background-color: #e6f4fa;
    border-radius: 8px;
    border-color: darkgray;
    line-height: 2;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
}
.body{
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
mat-dialog-title{
    border-bottom: 1.5px ridge #6bafe9;
    font-size: 25px;
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;
}
mat-dialog-content{
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}