mat-card-title{
    border-bottom: 1.5px ridge #6bafe9;
    font-size: 25px;
    white-space: nowrap;
    margin-top: 20px;
    text-align: center;
}
mat-card-header{
    margin-bottom: 20px;
}
mat-card-content{
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.5;
}
.title{
    display: inline;
    font-weight: 500;
    font-size: 15px;
}
.mat-card {
    width: 300px;
    height: 220px;
    text-align: center;
}
.body{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-card>:first-child{
    justify-content: center;
}
button{
    background-color: #e6f4fa;
    border-radius: 8px;
    border-color: darkgray;
    line-height: 2;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 500;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 2px -1px 20px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}