h1{
    border-bottom: 1.5px ridge #6bafe9;
}
.mat-dialog-content{
    font-size: 14px;
    letter-spacing: 0.5px;
}
.title{
    display: inline;
    font-weight: 500;
    font-size: 15px;
}
button{
    color: white;
    background-color: #5a93c4;
    border-radius: 5px;
}