<div class="body">
    <h1 mat-dialog-title>Customer account details</h1>
    <div mat-dialog-content>
        <div class="title">accountID:</div> {{accountInfo?.accountID}}<br>
        <div class="title">first name:</div> {{accountInfo?.firstName}}<br>
        <div class="title">last name:</div> {{accountInfo?.lastName}}<br>
        <div class="title">balance:</div> {{accountInfo?.balance}}<br>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
    </div>
</div>