<div class="body">
    <div *ngIf="!loading">
        <h2>loading...</h2>
        <mat-spinner></mat-spinner>
    </div>
    <mat-card class="example-card" *ngIf="loading">
        <mat-card-header>
            <mat-card-title>Customer account details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="title">accountID:</div> {{accountInfo?.accountID}}<br>
            <div class="title">first name:</div> {{accountInfo?.firstName}}<br>
            <div class="title">last name:</div> {{accountInfo?.lastName}}<br>
            <div class="title">balance:</div> {{accountInfo?.balance}}$<br>
        </mat-card-content>
    </mat-card>
</div>