.mat-icon {
  font-size: 20%;
  color: white;
}

ul {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0vw;
  left: 1vw;
  right: 1vw;
  width: 98vw;
  background-color: #cacaca;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}


li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  padding-right: 7vw;
  padding-left: 7vw;
  padding-top: 10px;
  padding-bottom: 10px;

}

li a:hover:not(.active) {
  color: #000;
}

.active {
  background-color: rgb(141, 194, 249);
}

.left-element {
  float: left;
}

li button {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 6px;
  text-decoration: none;
}

li button:hover:not(.active) {
  color: #000;
}