.body{
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  align-items: center;
  background-color: #f5f6f5;
  content: normal;
}
img{
  height: 73vh;
  width: 65vw;
}
h1{
  font-size: 40px;
  color: rgb(113, 113, 113);
}
h2{
  font-size: 30px;
  color: rgb(72 148 80);
  margin-top: 15px;
  margin-bottom: 0;
}